@page
@model AboutModel
@{
	ViewData["Title"] = "About this Abomination";
}
<h1>@ViewData["Title"]</h1>

<p>
	Clippy is courtesy of the <a href="https://github.com/clippyjs/clippy.js">Clippy.js repo</a> by <a href="http://smore.com/">Smore.com</a>,
	Cinnamon Software and, of course, <a href="https://microsoft.com">Microsoft</a>.
</p>

<p>
	The backend is C# and ASP.NET Core, currently using <a href="https://ollama.com/">Ollama</a> to host the
	<a href="https://ollama.com/HammerAI/neuraldaredevil-abliterated">HammerAI/neuraldaredevil-abliterated</a> language model, running on my modest Nvidia GeForce GTX 1660.
</p>
