@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Honestly, Ryan doesn't know anybody who wants your data (although I'm sure it's very nice data that anyone would be lucky to have).</p>
